@using ByteBanter.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
            <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blog in Model)
            {
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                        <h2 class="post-title">@blog.Name</h2>
                        <h3 class="post-subtitle">@blog.Description</h3>
                    </a>
                    <p class="post-meta">
                        Authored by
                        <a>@blog.BlogUser.DisplayName</a>
                        on @blog.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
            }
        </div>
        <div class="row mt-5">
            <!--Add Paging Controls here-->
            <div class="row">
                <div class="col h5 d-flex justify-content-center align-content-center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                    new PagedListRenderOptionsBase
                    {
                    LiElementClasses = new string[] {"page-item"},
                    PageClasses = new string[] {"page-link"}
                    })
                </div>
            </div>
        </div>
    </div>
</div>

